# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
input/
output/
*.log
*.spec
*.exe
dist/
build/
PDF_Processor_Distribution/

# Docker
.dockerignore
docker-compose.yml
Dockerfile 